<% layout( 'layout' ) -%>

<h1 class="page-header">
	<a href="/" title="<%= title %>" alt="<%= title %>"><%= title %></a>
</h1>

<p class="text-center">
	Please <a href="/" title="Login" alt="Login">login</a> first.
</p>